.projects-section {
  background-color: #1a1a1a;
  color: #fff; /* خلي النصوص أبيض */
}

.project-card {
  background-color: #2a2a2a;
  border: none;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
}

.card-title,
.card-text {
  color: #fff; /* عشان النصوص تبقى بيضاء */
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* زرار أزرق */
.btn-custom-blue {
  background-color: #007bff; /* أزرق */
  color: white;
  border: none;
}

.btn-custom-blue:hover {
  background-color: #0056b3; /* أزرق غامق */
  color: white;
}
